<div class="container" *ngIf="solicitud">
    <h2>Detalle de la Solicitud</h2>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Solicitud ID: {{ solicitud.id }}</h5>
        <p class="card-text"><strong>ID de Mascota:</strong> {{ solicitud.mascotaId }}</p>
        <p class="card-text"><strong>ID de Adoptante:</strong> {{ solicitud.adoptanteId }}</p>
        <p class="card-text"><strong>Estado de Adopción:</strong> {{ solicitud.estado_adopcion }}</p>
        <p class="card-text"><strong>Fecha de Creación:</strong> {{ solicitud.fechaCreacion | date }}</p>
        <p class="card-text"><strong>Fecha de Finalización:</strong> {{ solicitud.fechaFin | date }}</p>
        <a class="btn btn-info mr-2" [routerLink]="['/solicitudes/editar', solicitud.id]">Editar</a>
        <a class="btn btn-secondary" [routerLink]="['/solicitudes']">Volver</a>
      </div>
    </div>
  </div>
  
  <div *ngIf="!solicitud">
    <p>Cargando...</p>
  </div>
  