.card {
  transition: transform 0.2s; /* Efecto de transición al pasar el mouse */
  border: none; /* Opcional: quitar borde para un diseño más limpio */
  border-radius: 8px; /* Bordes redondeados para un aspecto moderno */
  overflow: hidden; /* Para ocultar el desbordamiento de la imagen */
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta al pasar el mouse */
}

.card-body .btn {
  margin-right: 5px; /* Espacio entre los botones */
}

.card-body .btn:last-child {
  margin-right: 0; /* Eliminar margen del último botón */
}

.card-img-top {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 200px; /* Establecer una altura fija para todas las imágenes */
  object-fit: contain; /* Ajusta la imagen para que se contenga dentro del área sin recortes */
  margin: 0; /* Eliminar margen para que se ajuste perfectamente al contenedor */
  display: block; /* Asegura que no haya espacios debajo de la imagen */
}

/* Asegurarse de que la tarjeta se ajuste adecuadamente en móviles */
@media (max-width: 576px) {
  .card {
    margin-bottom: 20px; /* Espacio entre las tarjetas en móviles */
  }
}
