.card {
  transition: transform 0.2s; /* Efecto de transición al pasar el mouse */
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta al pasar el mouse */
}

.card-body .btn {
  margin-right: 5px; /* Espacio entre los botones */
}

.card-body .btn:last-child {
  margin-right: 0; /* Eliminar margen del último botón */
}

.card-img-top {
  height: 200px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarla */
}
