<div class="container">
  <h2 class="text-center mb-4">Mascotas en Adopción</h2>
  <a class="btn btn-primary mb-3" [routerLink]="['/mascotas/crear']">Nueva Mascota</a>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let mascota of mascotas | async">
      <div class="card h-100">
        <a [routerLink]="['/mascotas/detalle', mascota.id]"> <!-- Enlace a la página de detalle -->
          <img *ngIf="mascota.foto" [src]="mascota.foto" alt="{{ mascota.nombre }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
          <p *ngIf="!mascota.foto" class="text-danger">No hay imagen disponible</p> <!-- Mensaje si no hay imagen -->
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ mascota.nombre }}</h5>
          <p class="card-text">Especie: {{ mascota.especie }}</p>
          <p class="card-text">Raza: {{ mascota.raza }}</p>
          <p class="card-text">Estado: {{ mascota.estado_adopcion }}</p>
          <div class="mt-auto">
            <a class="btn btn-info btn-sm me-2" [routerLink]="['/mascotas/editar', mascota.id]">Editar</a>
            <a class="btn btn-secondary btn-sm me-2" [routerLink]="['/mascotas/detalle', mascota.id]">Detalle</a>
            <button class="btn btn-danger btn-sm" (click)="borrarMascota(mascota.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
