<div class="container my-5">
    <h2 class="text-center mb-4">Acerca de Nosotros</h2>
    <div class="text-center mb-4" style="font-size: 50px;">
      🐾 <!-- Emoticono de huellas de mascotas -->
    </div>
    <div class="bg-light p-4 rounded shadow">
      <p class="lead">En Rincón Peludo, creemos en el amor y cuidado de las mascotas. Nuestro objetivo es encontrar un hogar adecuado para cada animalito y promover la adopción responsable.</p>
      <p>Únete a nosotros en esta noble causa y ayuda a cambiar vidas.</p>
    </div>
  </div>
  