<div class="container" *ngIf="solicitud">
    <h2>Editar Solicitud</h2>
    <form (ngSubmit)="onSubmit()" #solicitudForm="ngForm">
      <div class="form-group">
        <label for="mascotaId">ID de Mascota</label>
        <input type="text" id="mascotaId" class="form-control" required [(ngModel)]="solicitud.mascotaId" name="mascotaId" #mascotaId="ngModel" readonly>
      </div>
  
      <div class="form-group">
        <label for="adoptanteId">ID de Adoptante</label>
        <input type="text" id="adoptanteId" class="form-control" required [(ngModel)]="solicitud.adoptanteId" name="adoptanteId" #adoptanteId="ngModel">
        <div *ngIf="adoptanteId.invalid && adoptanteId.touched" class="text-danger">
          El ID de adoptante es requerido.
        </div>
      </div>
  
      <div class="form-group">
        <label for="estado_adopcion">Estado de Adopción</label>
        <select id="estado_adopcion" class="form-control" required [(ngModel)]="solicitud.estado_adopcion" name="estado_adopcion" #estado="ngModel">
          <option value="" disabled>Selecciona un estado</option>
          <option value="Disponible">Disponible</option>
          <option value="Adoptado">Adoptado</option>
          <option value="En proceso">En Proceso</option>
        </select>
        <div *ngIf="estado.invalid && estado.touched" class="text-danger">
          El estado de adopción es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="fechaFin">Fecha Fin</label>
        <input type="date" id="fechaFin" class="form-control" [(ngModel)]="solicitud.fechaFin" name="fechaFin">
    </div>
  
      <button type="submit" class="btn btn-success" [disabled]="solicitudForm.invalid">Actualizar Solicitud</button>
      <a class="btn btn-secondary ml-2" [routerLink]="['/solicitudes']">Cancelar</a>
    </form>
  </div>
  
  <div *ngIf="!solicitud">
    <p>Cargando...</p>
  </div>
  