<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rincón Peludo   🐾 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mascotas" routerLinkActive="active">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solicitudes" routerLinkActive="active">Solicitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container my-5">
  <router-outlet></router-outlet>
</main>
