<div class="text-center my-5">
  <!-- Imagen de mascotas -->
  <img src="/home.jpg" alt="Mascotas en adopción" class="mascotas-img mb-4">

  <!-- Texto de bienvenida -->
  <h2 class="welcome-title">¡Bienvenido a Rincón Peludo!</h2>
  <p class="welcome-lead">Aquí podrás encontrar a tu compañero perfecto.</p>
  <p class="welcome-text">Explora nuestras mascotas en adopción y únete a nuestra misión de hacer del mundo un lugar mejor para los animales.</p>

  <!-- Botón para ver mascotas -->
  <a class="btn btn-warning btn-lg mt-3" routerLink="/mascotas">Explorar Mascotas</a>
</div>
